# ***Print Statements***

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("It is a book.")

It is a book.

# Comments

In [ ]:
# print("HEllo World")

In [ ]:
"""
print("Hello World")

Blah Blah
"""

# this line is written to print a statement
print("It is a book.")

It is a book.

# Variables

In [ ]:
a = 10
print(a)


b_1 = 20
print(b_1)

# Gives Error
# a b = 20
# print(a b)

# Give Error
# for = 5

# print(for)


a = 10
A = 20

print(a)
print(A)

10
20
10
20

In [ ]:
a = 10
print(type(a))

b = 2.2
print(type(b))

c = 'Hello'
print(type(c))

d = False
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
print("c")

print("Hello World = ", a, b)

c
Hello World =  10 2.2

Variables

In [ ]:

a = 5
b = 2

# Sum
print(a+b)

# Subtract
print(a-b)

# Multiply
print(a*b)

# Divide
print(a/b)

# Integer Division
print(a//b)

# Power
print(a**b)

7
3
10
2.5
2
25

In [ ]:
a = True
b = False
c = True
print(a and b and c)

print(a or b)

print(not a)

False
True
False

In [ ]:
a = 5
b = 2
c = 5
#       T   and   T
print(a > b and a == c)

print(a < b and a < c)

print(a != b)

print(a >= b)

print(a <= b)

#      5 == 2
print(a == b)

True
False
True
True
False
False
False

In [ ]:
a = 5   # int
b = "5" # str

a = b      # "5"

print(a)
print(b)
print(a == b)

5
5
True

# Decision Making

In [ ]:
a = 5

if a > 5:
    print("Greater")
else:
    print("a is not greater or equal to 5")

a is not greater or equal to 5

In [ ]:
a = 5
b = 2
if a == 5 and b == 2:
    print("a is equal to 5 and b is equal to 2")
    # print("Hello World")
elif a > 5 and b > 2:
    print("a is greater than 5")
else:
    print("a equal to 5 and b is equal to 3")

Hello World

# Loops



*   While Loop
*   For Loop

In [ ]:
# while condition:
#   code
#   increment

In [ ]:
i = -2
while i<10:
    print(i)
    i += 2

print("Loop Ended")

-2
0
2
4
6
8
Loop Ended

In [ ]:
# for variable in range(start, end, step/jump):
#   statements

# start -> inclusive
# end -> exclusive

In [ ]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

# Built-in Function

In [ ]:
a = 4
b = 5
print(max(a, b))
print(min(a, b))

5
4

# User Defined

In [ ]:
def comparison(a, b):
    c = a < b

    return c

output = comparison(2, 3)
print(output)

True

# List

In [ ]:
#       -3  -2   -1
#          0  1  2
my_list = [1, 2, 3]

print(my_list[0])
print(my_list[-1])

my_list[0] = 100

print(my_list)

1
3
[100, 2, 3]

# Tuple

In [ ]:
my_tuple = (100, 10, 1)

print(my_tuple[0])

# Error
# my_tuple[1] = 200

# print(my_tuple)

100

TypeError: 'tuple' object does not support item assignment

# Set

In [ ]:
my_set = {1, 2 ,3 , 4, 2, 3}

print(my_set)

if 100 in my_set:
    print("Yes")
else:
    print("No")

for ele in my_set:
    print(ele)

# Error
# print(my_set[0])

{1, 2, 3, 4}
No
1
2
3
4

# Dictionary

In [ ]:
my_dic = {"fruit1" : "apple", "fruit2" : "Orange", "rate" : 200}

print(my_dic["fruit1"])
print(my_dic["fruit2"])
print(my_dic["rate"])

apple
Orange
200